<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link href="/css/AdminGlobal.css" rel="stylesheet" type="text/css"/>
    <link href="/css/Admin.css" rel="stylesheet" type="text/css"/>
    
  </head>
  <body>
    <div class="admin">
      <div class="logo-container-parent">
        <div class="logo-container">
          <img
            class="logo-1-1"
            loading="lazy"
            alt=""
            src="AssetsAdmin/logoYM.png"
          />
        </div>
        <header class="admin-vista-cliente">
          <div class="admin-vista-cliente-child"></div>
          <b class="bienvenido-admin">Bienvenido admin</b>
          <b class="vista-cliente">Vista Cliente</b>
        </header>
      </div>
      <main class="frame-parent">
        <section class="vector-parent">
          <img
            class="frame-child"
            loading="lazy"
            alt=""
            src="AssetsAdmin/Rectangulo80.png"
          />

          <div class="agregar-articulo">Agregar articulo</div>
        </section>
        <section class="frame-wrapper">
          <div class="articulo-nombre-parent">
            <div class="articulo-nombre">
              <div class="nombre-del-articulo">Nombre del articulo</div>
              <div class="textboxnombrearticulo"></div>
            </div>
            <div class="precio-del-articulo-parent">
              <div class="precio-del-articulo">Precio del articulo</div>
              <div class="textboxprecioarticulo"></div>
            </div>
            <div class="categoria-del-articulo-parent">
              <div class="categoria-del-articulo">Categoria del articulo</div>
              <div class="textboxcategoriaarticulo"></div>
            </div>
            <div class="frame-group">
              <div class="frame-container">
                <div class="tallas-del-articulo-parent">
                  <div class="tallas-del-articulo">Tallas del articulo</div>
                  <div class="textboxtallasarticulo"></div>
                </div>
                <div class="frame-div">
                  <div class="botonagregarimagen-parent">
                    <div class="botonagregarimagen"></div>
                    <div class="agregar-imagen">Agregar imagen</div>
                  </div>
                </div>
              </div>
              <div class="frame-parent1">
                <div class="botonagregararticulo-parent">
                  <div class="botonagregararticulo"></div>
                  <div class="agregar-articulo1">Agregar articulo</div>
                </div>
                <div class="actualizar-articulo-wrapper">
                  <b class="actualizar-articulo">Actualizar articulo</b>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <div class="admin-child"></div>
      <div class="article-actions-wrapper">
        <div class="article-actions">
          <button class="update-remove-control">
            <div class="botonactualizararticulo"></div>
            <div class="actualizar-articulo1">Actualizar articulo</div>
          </button>
          <button class="update-remove-control1">
            <div class="botonverarticulo"></div>
            <div class="ver-articulo">Ver articulo</div>
          </button>
          <button class="update-remove-control2">
            <div class="botoneliminararticulo"></div>
            <div class="eliminar-articulo">Eliminar articulo</div>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
