<!DOCTYPE html>
<html xmlns ="http://www.w3.org/1999/xhtml"
   xmlns:th ="http://www.thymeleaft.org" 
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <head>
    <meta charset="utf-8" />
    <script th:src="@{/js/rutinas.js}"></script>
    <link href="/css/AdminGlobal.css" rel="stylesheet" type="text/css"/>
    <link href="/css/Admin.css" rel="stylesheet" type="text/css"/>
    
  </head>
  <body>
    <div class="admin">
      <div class="logo-container-parent">
        <div class="logo-container">
          <img
            class="logo-1-1"
            loading="lazy"
            alt=""
            th:src="@{/img/logoYM.png}"
          />
        </div>
        <header class="admin-vista-cliente">
          <div class="admin-vista-cliente-child"></div>
          <b class="bienvenido-admin">Bienvenido admin</b>
          <a  th:href="@{/}"><b class="vista-cliente">Vista Cliente</b></a>
        </header>
      </div>
      <main class="frame-parent">
        <section class="vector-parent">
          <img
            class="frame-child"
            loading="lazy"
            alt=""
            src="AssetsAdmin/Rectangulo80.png"
          />

          <div class="agregar-articulo">Agregar articulo</div>
        </section>
          <!-- agregar producto -->
           <section th:replace="~{admin/fragmento :: agregarArticulo2}"/>
        
      </main>
         <section th:replace="~{admin/fragmento :: tablaProductos}"/>
      <div class="admin-child"></div>
      <div class="article-actions-wrapper">
          
          
        <div class="article-actions">
          <button class="update-remove-control">
            <div class="botonactualizararticulo"></div>
            <div class="actualizar-articulo1">Actualizar articulo</div>
          </button>
          <button class="update-remove-control1">
            <div class="botonverarticulo"></div>
            <div class="ver-articulo">Ver articulo</div>
          </button>
          <button class="update-remove-control2">
            <div class="botoneliminararticulo"></div>
            <div class="eliminar-articulo">Eliminar articulo</div>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
