<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns ="http://www.w3.org/1999/xhtml"
   xmlns:th ="http://www.thymeleaft.org">
<head>
    <meta charset="UTF-8"/>
    
    <title>Sobre Nosotros</title>
    <link th:href="@{/css/SobreNosotros.css}" rel="stylesheet" />
    <link th:href="@{/css/GlobalSobreNosotros.css}" rel="stylesheet" />
    
    
</head>
    <body>
        <div class="sobre-nosotros">
            <header class="sobre-nosotros-child"></header>
            <main class="frame">
                <section class="rectangle-parent">
                    <div class="frame-child"></div>
                    <div class="frame1">
                        <div class="frame2">
                            <div class="ym2-1-parent">
                                <a th:href="@{/}"><img class="ym2-1-icon" alt="" src="ims-SobreNosotros/ym2-2-icon.png" /></a>

                                <a th:href="@{/}">logo</a>
                                <img
                                    class="ym2-2-icon"
                                    loading="lazy"
                                    alt=""
                                    src="ims-SobreNosotros/ym2-2-icon.png"
                                    id="yM22Image"
                                    />
                            </div>
                        </div>

                    </div>
                    <div class="sobre-nosotros-wrapper">
                        <a th:href="@{/sobreNosotros/info}"><b class="sobre-nosotros1">Sobre nosotros</b></a>
                    </div>
                </section>
                <section class="rectangle-group">
                    <div class="frame-item"></div>
                    <div class="quienes-somos-somos-container">
                        <p class="quienes-somos">Quienes somos?</p>
                        <p class="blank-line">&nbsp;</p>
                        <p class="somos-una-tienda">
                            Somos una tienda 100% virtual de ropa y demas articulos para
                            hombres, nos caracterizamos por la cercania con nuestros clientes
                            y la buena atencion al cliente. No dudes en contactar con
                            nosotros, estamos para servirte &lt;3
                        </p>
                        <p class="blank-line1">&nbsp;</p>
                        <p class="como-trabajamos">Como trabajamos?</p>
                        <p class="blank-line2">&nbsp;</p>
                        <p class="nosotros-trabajamos-bajo-encar">
                            <span class="nosotros-trabajamos-bajo"
                                  >Nosotros trabajamos bajo encargo por lo que todas las semanas
                                hacemos pedidos desde el extranjero hasta cada uno de nuestros
                                clientes, contamos con productos de muy buena calidad a un buen
                                precio; tambien permitimos hacer encargos con el 60% del total
                                por lo que no es necesarion que canceles todo tu pedido de una
                                vez, si no que lo puedes hacer mediante dos pagos.</span
                            >
                            <span class="tiempo-de-espera">Tiempo de espera y envios</span>
                        </p>
                        <p class="blank-line3">&nbsp;</p>
                        <p class="como-trabajamos-mayormente">
                            Como trabajamos mayormente bajo pedido nuestro tiempo de entrega
                            es de 15 a 30 dias habiles ya que todos nuestros articulos vienen
                            del extanjero; ademas hacemos envios con Correos de Costa Rica por
                            lo que todos nuestros articulos te son entregados en la puerta de
                            tu casa :).
                        </p>
                        <p class="blank-line4">&nbsp;</p>
                    </div>
                </section>
                <div class="frame-parent">
                    <div class="frame3">
              <div class="component-1-wrapper">
                <div class="component-1">
                  <div class="categorias-wrapper">
                    <b class="categorias" id="categoriasText">Categorias</b>
                  </div>
                  <img
                    class="icbaseline-whatsapp-icon"
                    loading="lazy"
                    alt=""
                    src="ims-SobreNosotros/VectorWhatsapp.png"
                  />
  
                  <div class="vector-wrapper">
                    <img
                      class="vector-icon"
                      loading="lazy"
                      alt=""
                      src="ims-SobreNosotros/VectorInstagram.png"
                      id="vector"
                    />
                  </div>
                </div>
              </div>
              <img
                class="logo-3-1"
                loading="lazy"
                alt=""
                src="ims-SobreNosotros/LogoBlancoyNegro.png"
              />
            </div>
            <div class="frame4">
              <div class="frame-inner"></div>
            </div>
          </div>
        </main>
      </div>
    
</body>
</html>