<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html  xmlns ="http://www.w3.org/1999/xhtml"
   xmlns:th ="http://www.thymeleaft.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/css/GlobalCategorias2.css}" rel="stylesheet" />
        <link th:href="@{/css/Categorias2.css}" rel="stylesheet" />
        


    </head>
    <body>
        <div class="categorias-2">
        <img class="categorias-2-child" alt="" src="img-Categorias2/Rectangulo3.png" />
  
        <header class="categorias-2-item"></header>
        <img class="ym2-1-icon" alt="" src="img-Categorias2/YM2 2.png" />
  
        <img class="vector-icon" alt="" src="img-Categorias2/InstagramVector.png" id="vector" />
  
        <div class="bienvenidos-a-yellow">Bienvenidos a Yellow Men Store</div>
        <img
          class="categorias-2-inner"
          loading="lazy"
          alt=""
          src="img-Categorias2/Rectangulo3.png"
        />
        <section>
            <div>
                
            </div>
            
        </section>
        <div class="rectangle-parent">
          <div class="frame-child"></div>
          <div class="ym2-2-parent">
             <a class="navegacion-link" th:href="@{/}">
                 <img
              class="ym2-2-icon"
              loading="lazy"
              alt=""
              src="img-Categorias2/YM2 2.png"
              id="yM22Image"/>
             </a>
            
  
            <div class="sobre-nosotros-wrapper">
              <b class="sobre-nosotros">Sobre nosotros</b>
            </div>
          </div>
          <div class="main-container">
            <div class="component-2">
              <div class="sub-categories-label">
                  <a class="categorias" id="categoriasText" th:href="@{/categoria/listado}">[[#{plantilla.categoria}]]</a>
              </div>
              <img
                class="icbaseline-whatsapp-icon"
                loading="lazy"
                alt=""
                src="img-Categorias2/VectorWhatsapp.png"
              />
  
              <div class="vector-wrapper">
                <img
                  class="vector-icon1"
                  loading="lazy"
                  alt=""
                  src="img-Categorias2/InstagramVector.png"
                  id="vector1"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="products-container">
          <div class="bienvenidos-a-yellow1">Bienvenidos a Yellow Men Store</div>
        </div>
        <main class="categorias2-productos">
          <section class="main-header">
            <div class="main-header-child"></div>
            <div class="nombre-de-la">Nombre de la categoria</div>
          </section>
        </main>
      </div>
        
    </body>
</html>
