<!DOCTYPE html>
<html xmlns ="http://www.w3.org/1999/xhtml"
   xmlns:th ="http://www.thymeleaft.org">
    <head th:replace="~{layout/plantilla :: head}" >
        <title>Yellow Men Store</title>
        <meta charset="UTF-8"/>
        
        
        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <h4>Modifica</h4>
        <section th:replace="~{categoria/fragmento :: listaCategorias}"></section>
        <!-- Pendiente programar parte modifica -->
    </body>
</html>
