<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Yellow Men Store</title>
        <meta charset="UTF-8"/>
        
        
        
    </head>
    <body>
     <!--Conseguir productos-->
     <section  th:fragment="listaProductos">
         <div class="listaCategoria">
             <div th:if="${productos != null and !productos.empty}">
                <div  th:each="p : ${productos}"> 
                    <div>
                        <h4>[[${p.nombreProducto}]]</h4>
                        <img th:src="${p.rutaImagen}"  
                             height="200" 
                             alt="alt"/>
                        <p>[[#{producto.talla}]]: [[${p.tallaProducto}]] <br/>
                            [[#{producto.precio}]]: ₡[[${p.precio}]]<br/>
                        </p>
                        <a class="navegacion-link texto-negro" th:href="@{/producto/vista/}+${p.idProducto}">[[#{producto.vermas}]]</a>
                    </div>
                </div>

                 </div>
            </div>
     </section>
            
    </body>
</html>
