/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26 mar 2024, 23:37:35
    Author     : Luis David
*/
footer{
    text-align: center;
    position: fixed;
    background-color:#fc7f03;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;


}
body {

    margin: 0;
    box-sizing: border-box;
    background-color: yellow;
}
.encabezado{
    position: fixed;
    color: yellow;
    background-color: black;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
}

.menus{
    display: flex;
    margin-left:  50%;
    list-style: none;


}

.menus-link{
    font-size: 18px;
    margin: 0 10px;

}

.navegacion{
    display: flex;
    justify-content: space-between;
    max-height: 992px;
    margin: 30px auto;

}

.navegacion-link{
    color: yellow;
    font-weight: bold;
    text-decoration: none;

}
.texto-amarillo{
    color: yellow;

}
.navegacion-categoria-link{
    font-size: 30px;
    font-style: oblique;
    color: black;
    text-decoration: none;
    padding: 20px !important;
}


.logo-sobre-nosotros{
    color: yellow;
    text-decoration: none;

}

.productos-container {
    overflow-x: auto;
}

.listaCategoria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centramos las columnas */
    margin-top: 120px; /* Margen en la parte superior */
    margin-left: 125px; /* Margen en la parte izquierda */
    margin-right: 30px;
}


.producto-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.producto-item {
    width: 250px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 70px;
}

.producto-content {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: black;
    padding: 20px;
    height: 370px;
}

.producto-placeholder {
    width: 250px;
    margin-right: 10px;
    visibility: hidden;
}
